/*---------------
 google fonts
-----------------*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --primary-color: #131313;
    --secondary-color: #FF900E;
    --tertiary-color: #727272;
    --dark-gray: #424242;
    --white-color: #FFFFFF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.btn {
    background: var(--secondary-color);
    border-radius: 8px;
    padding: 15px 20px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: var(--white-color);
    margin-top: 20px;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--tertiary-color);
    margin: 15px 0;
}

.section__gap {
    margin: 100px 0;
}

/*-----------------
 header styles
-------------------*/
header {
    background-color: #FEF4E8;
    padding: 35px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 60px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: var(--dark-gray);

}

.logo__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: var(--primary-color);
}

/*------------------
 brand styles
--------------------*/
.brand {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.brand__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: var(--primary-color);
}


/*----------------
 banner styles
------------------*/
.banner {
    margin-top: 27px;
}

section.banner img {
    width: 100%;
}

/*--------------------------
 our team section styles
----------------------------*/
section.our__team {
    padding: 0 100px;
}

.our__team__wrapper {
    display: flex;
    align-items: center;
    gap: 90px;
}

.image__wrap {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.image__wrap img {
    width: 100%;
}

.content__wrap {
    width: 50%;
}

.our__team__wrapper .title {

    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: var(--tertiary-color);

}

.our__team__wrapper .title span {
    font-weight: 700;
}

.our__team__wrapper .title span:first-child {
    color: var(--primary-color);

}

.our__team__wrapper .title span:last-child {
    color: var(--secondary-color);

}

.our__team__wrapper .description {
    text-align: left;
}


/*-----------------------
 feature section styles
-------------------------*/
.feature__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    text-align: left;
    position: relative;
}

.feature_content {
    width: 50%;
}

.feature_content .title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: var(--primary-color);
    border-left: 5px solid var(--secondary-color);
    padding-left: 13px;
}

.feature_content .description {
    text-align: left;
    margin: 25px 0;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px 42px 5px 30px;
    margin-bottom: 20px;
}

.card .sub__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: var(--primary-color);
}

.feature__image__wrap {
    width: 50%;
}

.feature__image__wrap img {
    width: 100%;
}

.features__btn {
    left: 48%;
    bottom: -6%;
    padding: 25px;
    position: absolute;
}

.features__btn span {
    display: block;
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
}

.features__btn small {
    display: block;
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
}

/*-------------------
 facts styles
---------------------*/
.facts__section__title {

    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: var(--primary-color);
}

.facts .description {
    width: 39%;
    text-align: left;
}

.facts__wrapper {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
    gap: 30px;
}

.single__facts {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 242px;
    height: 242px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 1.5s;
}

.single__facts:hover {
    background: #000;
    color: #fff;
    transition: 1.5s;
    border: 1px solid #000;
    color: var(--white-color);
}

.single__facts img {
    width: 46px;
    height: 46px;
}

.count {
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #424242;
    margin: 8px 0;

}

.single__facts .facts__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
}

.single__facts:hover .facts__title,
.single__facts:hover .count {
    transition: 1s;
    color: #fff;
}

/*------------------------
our sample section styles  
 -------------------------*/
 .our__design__Sample .section__title{
    text-align: center;
    margin-bottom: 40px;
 }
 .design__sample__wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
   
}
.design__sample__wrapper > div{
    overflow: hidden;
}
.design__sample__wrapper img {
    width: 100%;
    cursor: pointer;
    filter: brightness(.5);
    transition: .5s;
    
}
.design__sample__wrapper img:hover{
    filter: brightness(1);
    transition: .5s;
    transform: scale(1.1)
}

/*-----------------
 sponsors styles  
 ------------------*/
.sponsors {
    text-align: center;
}

.section__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: var(--primary-color);
}

.sponsors .description {
    width: 39%;
    margin: 20px auto;
}

.sponsors__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}

.sponsors__wrapper>div {
    width: 241px;
}

.sponsors__wrapper>div img {
    width: 50%;
}

/*---------------
  footer styles 
  ----------------*/
footer {
    margin-bottom: 30px;
}

footer .container {
    text-align: center;
    background-color: #FFF4E7;
    padding: 30px;
    border-radius: 8px;
}

footer .container p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: var(--dark-gray);
}


/*----------------------
 responsive styles  
------------------------*/

 /*--------------------------------------------------
  X-Large devices (large desktops, 1200px and up)
-----------------------------------------------------*/
@media (min-width: 1200px) and (max-width:1500px){ 

    .brand {
        width: 90%;
    }
    .feature__wrapper {
        gap: 45px;
    }
    .feature__image__wrap img {
        min-height: 1000px;
        width: 100%;
        object-fit: cover;
    }
 }

 /* Large devices (desktops, 992px and up) */

 @media (min-width: 992px) and (max-width:1199px){ 
    nav ul {
        gap: 25px;
    }
    .brand {
        width: 90%;
    }
    .our__team__wrapper {
        gap: 50px;
        flex-direction: column;
    }
    .image__wrap {
        width: 100%;
    }
    .content__wrap {
        width: 100%;
    }
    .feature__wrapper {
        gap: 30px;
        flex-direction: column;
    }
    .feature_content {
        width: 100%;
    }
    .feature__image__wrap {
        width: 100%;
    }
    .features__btn {
        left: 5%;
    }
    section.facts.section__gap{
        margin-top: 180px;
    }

    .sponsors__wrapper {
        justify-content: center;
    }
  }

 /*----------------------------------------
  Medium devices (tablets, 768px and up)
-------------------------------------------*/

@media (min-width: 768px) and (max-width:991px){ 
    .logo__title {
        font-size: 35px;
        line-height: 42px;
    }
    nav ul {
        gap: 15px;
    }
    .brand {
        width: 90%;
    }
    .brand__title {
        font-size: 52px;
        line-height: 65px;
    }
    .our__team__wrapper {
        gap: 50px;
        flex-direction: column;
    }
    .image__wrap {
        width: 100%;
    }
    .content__wrap {
        width: 100%;
    }
    .feature__wrapper {
        gap: 30px;
        flex-direction: column;
    }
    .feature_content {
        width: 100%;
    }
    .feature__image__wrap {
        width: 100%;
    }
    .features__btn {
        left: 5%;
    }
    section.facts.section__gap{
        margin-top: 180px;
    }

    .sponsors__wrapper {
        justify-content: center;
    }

 }
/*--------------------------------------------------
  Small devices (landscape phones, less than 768px)
  ---------------------------------------------------*/

@media (max-width: 768px) {

    nav {
        flex-direction: column;
        gap: 20px;
    }

    nav ul {
        gap: 25px;
    }

    .brand,
    .content__wrap,
    .feature_content,
    .feature__image__wrap   {
        width: 100%;
    }

    .brand__title {
        font-size: 50px;
        line-height: 56px;

    }
    section.our__team {
        padding: 0;
    }

    .our__team__wrapper {
        flex-direction: column;
        gap: 35px;
    }

    .image__wrap {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .feature__wrapper {
        gap: 40px;
        flex-direction: column;
    }
    .features__btn span {
        font-size: 45px;
        line-height: 48px;
    }
    .features__btn {
        left: 0;
        bottom: -5%;
    }
    .features__btn small {
        font-size: 20px;
        line-height: 25px;
    }
    .features__btn {
        left: 5%;
    }

    /* facts section  */
    section.facts.section__gap{
        margin-top: 152px;
    }
    .facts .description {
        width: 80%;
    }
    .single__facts {
        width: 200px;
        height: 200px;
    }


    /* our design sample  */
    .design__sample__wrapper {
        grid-template-columns: repeat(2,1fr);
    }

    .count {
        font-size: 35px;
        line-height: 42px;
    }
    .single__facts .facts__title {
        font-size: 18px;
    }

    /* sponsor section  */
    section.sponsors.section__gap {
        margin-bottom: 50px;
    }
    .sponsors .description {
        width: 80%;
    }
    .sponsors__wrapper>div {
        width: 200px;
    }

    /* footer section  */
    footer .container p {
        line-height: 36px;
    }
}

/*----------------------------------------------------
X-Small devices (portrait phones, less than 576px)
------------------------------------------------------*/
@media (max-width: 576px) { 

    /* menu bar  */
    .logo__title {
        font-size: 35px;
    }
    nav ul li a {
        font-size: 16px;
    }
    nav ul {
        gap: 13px;
    }

    /* brand section  */

    .brand {
        margin-top: 45px;
    }
    .brand__title {
        font-size: 40px;
        line-height: 46px;
    }
/* team section  */
.image__wrap {
    grid-template-columns: repeat(1, 1fr);

}
.our__team__wrapper .title {
    font-size: 33px;
    line-height: 41px;
}

/* feature section  */
.feature_content .title {
    font-size: 25px;
    line-height: 33px;
}

/* facts section  */
.facts .description {
    width: 100%;
}
.facts__section__title {
    font-size: 40px;
    line-height: 41px;
}
.facts__wrapper {
    margin-top: 43px;
}

/* our design sample  */

.design__sample__wrapper {
    grid-template-columns: repeat(1,1fr);
}

/* sponsor section  */
section.sponsors.section__gap{
    margin-top: 55px;
}
.section__title {
    font-size: 38px;
    line-height: 41px;
}
.sponsors__wrapper {
    justify-content: center;
}
.sponsors__wrapper>div img {
    width: 70%;
}
footer .container {
    padding: 30px 0;
}
 }